<div class="jumbotron jumbotron-fluid bg-dark" id="jumb-contato">
  <div class="container">
    <h1 class="display-3 text-center text-light">Contato</h1>
  </div>
</div>

<div class="container-fluid bg-dark text-light text-center" id="div-contato">
  <div class="row">
    <div class="p-5 w-100">
      <p>Pamella Martins Lopes - Cerimonialista</p>
      <p>Telefone : (067) 9 9609-4627</p>
      <p>E-mail: lopesmartinspamella@gmail.com</p>
    </div>
  </div>
</div>

<div class="container-fluid text-center p-5">
  <h1>Mídias Sociais</h1>
  <p>Estamos sempre postando dicas para que você tenha um dia especial!</p>
  <br />
  <p>Clique nas imagens e nos acompanhe!</p>
  <div class="row display-4">
    <div class="col-6">
      <a href="https://www.facebook.com/carpediemassessoriaecerimonia/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
    </div>
    <div class="col-6">
      <a href="https://www.instagram.com/cerimonialcarpediem/" style="color: red;" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
    </div>
  </div>
</div>

<footer class="container-fluid bg-dark text-light text-center p-5" id="rodape">
  <h1>Carpe Diem Cerimonial</h1>
</footer>
