<div class="jumbotron jumbotron-fluid bg-dark" id="jumb-contato">
  <div class="container">
    <h1 class="display-3 text-center text-light">Contato</h1>
  </div>
</div>

<div class="container-fluid bg-dark text-light text-center" id="div-contato">
  <div class="row">
    <div class="pl-0 pr-0 pt-4 pb-4 w-100">
      <p>Pamella Martins Lopes - Cerimonialista</p>
      <p>Telefone : (067) 9 9609-4627</p>
      <p>E-mail: lopesmartinspamella@gmail.com</p>
    </div>
  </div>
</div>

<div class="container-fluid text-center p-5 bg-white">
  <h1>Mídias Sociais</h1>
  <p>Estamos sempre postando dicas para que você tenha um dia especial!</p>
  <br />
  <div class="row justify-content-center">
    <div class="col-6 col-sm-3">
      <a href="https://www.facebook.com/carpediemassessoriaecerimonia/" target="_blank"><i class="fab fa-facebook fa-7x"></i><span class=" d-sm-block">Facebook</span></a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="https://www.instagram.com/cerimonialcarpediem/" style="color: red;" target="_blank"><i class="fab fa-instagram fa-7x"></i> <span class=" d-sm-block">Instagram</span></a>
    </div>
  </div>
</div>
