<header class="fixed-top">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../assets/img/logo-2.png" width="45" height="45" class="d-inline-block align-top" alt="">

    </a>
    <span class="h4 d-none d-sm-block">Carpe Diem Cerimonial </span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quemsomos">Quem Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eventos">Eventos</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
<app-footer></app-footer>
