<div class="jumbotron jumbotron-fluid bg-dark" id="jumb-1">
  <div class="container">
    <h1 class="display-5 text-right text-light">Pamella Lopes</h1>
    <h2 class="display-4 text-right text-light">Cerimonialista</h2>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
      <figure class="figure">
          <img src="../../assets/img/voce-merece.jpg" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-center">Voce merece</figcaption>
      </figure>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <figure class="figure">
            <img src="../../assets/img/aproveitar.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">Aproveitar</figcaption>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
          <figure class="figure">
              <img src="../../assets/img/o-seu-dia.jpg" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption text-center">O seu dia</figcaption>
          </figure>
      </div>
  </div>
</div>
<div class="container-fluid bg-dark text-light">
<div class="container bg-dark" id="acessoria">
  <div class="row">
    <h2 class="display-5 text-center w-100">Acessoramos o seu evento</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <figure class="figure">
          <img src="../../../assets/img/casamento.jpg" style="height: 400px;" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-center">Cerimoniais de casamento</figcaption>
      </figure>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <figure class="figure">
            <img src="../../../assets/img/formatura.jpg" style="height: 400px;" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-center">Formaturas</figcaption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <figure class="figure">
              <img src="../../../assets/img/15-anos.jpg" style="height: 400px;" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption text-center">Festa de 15 anos</figcaption>
          </figure>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <figure class="figure">
              <img src="../../../assets/img/eventos.jpg" style="height: 400px;" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption text-center">Eventos Corporativos</figcaption>
          </figure>
      </div>
  </div>
  <div class="row">
    <p class="text-center w-100"><a routerLink="/contato" class="text-light h3">Faça um orçamento conosco</a></p>
  </div>
</div>
</div>
